{%extends 'main/base.html'%}

{%load static%}

{%block 'body'%}
<h2>Member List</h2>
<form method="get" class="mb-3">
    <input type="text" name="search" placeholder="Search by first name" class="form-control" value="{{ request.GET.search }}">
</form>

<a href="{% url 'member_create'%}" class="btn btn-primary mb-3">Add Member</a>
<a href="{% url 'export-csv'%}" class="btn btn-secondary mb-3">Export CSV</a>
<a href="{% url 'export-excel'%}" class="btn btn-warning mb-3">Export Excel</a>
<a href="{% url 'export-pdf'%}" class="btn btn-info mb-3">Export PDF</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
           
            <th>Actions</th>
          
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ member.first_name }}</td>
            <td>{{ member.last_name }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.phone_nember}}</td>
           
            <td>
                <a href="{% url 'member_update' member.id %}" class="btn btn-sm btn-warning">Edit</a>
                <a href="{% url 'member_delete' member.id %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
           
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No members found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock%}