<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF OutPut</title>
    <style>
@page{
    size: "A4";
    margin: 2.5cm 1.5cm 3.5cm 1.5cm;
}

@top-center{
    content: "ABIB LTD";
}

    </style>
</head>
<body>

    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngwing.com%2Fen%2Ffree-png-iyocm&psig=AOvVaw0NtD_489IbLoZ_CuaFk7z-&ust=1732890087970000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPC1juWc_4kDFQAAAAAdAAAAABAE" >
    
</body>
</html>